@font-face {
  font-family: "Futura PT";
  font-display: swap;
  src: url("../fonts/FuturaPT-Book.woff") format("woff"), url("../fonts/FuturaPT-Book.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Futura PT";
  font-display: swap;
  src: url("../fonts/FuturaPT-Medium.woff") format("woff"), url("../fonts/FuturaPT-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Futura PT";
  font-display: swap;
  src: url("../fonts/FuturaPT-Demi.woff") format("woff"), url("../fonts/FuturaPT-Demi.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Futura PT";
  font-display: swap;
  src: url("../fonts/FuturaPT-Bold.woff") format("woff"), url("../fonts/FuturaPT-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Futura PT";
  font-display: swap;
  src: url("../fonts/FuturaPT-Heavy.woff") format("woff"), url("../fonts/FuturaPT-Heavy.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Futura PT";
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #000;
  overflow-x: hidden;
}

body.lock {
  overflow: hidden;
}

.site__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.site__main {
  padding: 70px 0px 0px 0px;
}

.site__footer {
  margin-top: auto;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 20px;
}

.container-fluid {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 20px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  -webkit-box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 2;
}

.header__container {
  max-width: 1920px;
  padding: 0;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 70px;
}

.header__burger-wrapper {
  display: none;
  z-index: 3;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__menu {
  z-index: 2;
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 748px;
          flex: 0 1 748px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 2;
}

.header__languages {
  z-index: 2;
  position: relative;
}

.header__login {
  z-index: 2;
  display: block;
  height: 100%;
  width: 79px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-left: 1px solid #e7e7e7;
  margin-left: 27px;
}

.logo {
  margin-right: 47px;
  z-index: 2;
  padding-left: 23px;
}

.logo__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33px;
          flex: 0 0 33px;
}

.logo__text-wrapper {
  text-transform: uppercase;
}

.logo__top {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  letter-spacing: 3.2px;
  line-height: calc(20 / 16);
}

.logo__bottom {
  font-size: 10px;
  line-height: 13px;
  color: #717171;
  letter-spacing: 0.1em;
}

.actions-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 262px;
          flex: 0 1 262px;
  margin-right: 15px;
}

.actions-menu__item {
  margin-right: 15px;
}

.actions-menu__item:last-child {
  margin-right: 0;
}

.actions-menu__link {
  display: block;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #000;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.main-menu {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 398px;
          flex: 0 1 398px;
}

.main-menu__list {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-menu__item {
  margin-right: 15px;
}

.main-menu__item:last-child {
  margin-right: 0;
}

.main-menu__link {
  font-size: 14px;
  line-height: 18px;
  color: #000;
  display: block;
  white-space: nowrap;
}

.languages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  padding-left: 20px;
}

.languages__item {
  margin-right: 12px;
}

.languages__item:last-child {
  margin-right: 0;
}

.languages__link {
  font-weight: 500;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0.7px;
  color: #000;
  padding: 6px 4.5px;
  position: relative;
  display: block;
}

.languages__link::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #000;
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, 0) scale(0);
      -ms-transform: translate(-50%, 0) scale(0);
          transform: translate(-50%, 0) scale(0);
  -webkit-transition: 0.3s ease all 0s;
  -o-transition: 0.3s ease all 0s;
  transition: 0.3s ease all 0s;
}

.languages__link--active::before {
  opacity: 1;
  -webkit-transform: translate(-50%, 0) scale(1);
      -ms-transform: translate(-50%, 0) scale(1);
          transform: translate(-50%, 0) scale(1);
}

.icon-star {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  background: url("../img/icons/star.svg") center no-repeat;
}

.call-chat {
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  background: url("../img/icons/call-up/chat.svg") center no-repeat;
}

.call-close {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 20px;
  background: url("../img/icons/call-up/close.svg") center no-repeat;
}

.call-phone {
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  background: url("../img/icons/call-up/phone.svg") center no-repeat;
}

.active .call-phone {
  width: 16px;
  height: 20px;
  background: url("../img/icons/call-up/close.svg") center no-repeat;
}

.call-telegram {
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  background: url("../img/icons/call-up/telegram.svg") center no-repeat;
}

.call-viber {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  background: url("../img/icons/call-up/viber.svg") center no-repeat;
}

.call-whatsapp {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  background: url("../img/icons/call-up/whatsapp.svg") center no-repeat;
}

.icon-user-outlined {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  background: url("../img/icons/user-outlined.svg") center no-repeat;
}

.btn {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 32px;
  position: relative;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  color: #fff;
}

.btn-blue {
  background-color: #63b5b6;
}

.btn-blue::before,
.btn-blue::after {
  content: '';
  position: absolute;
  display: block;
}

.btn-blue::before {
  width: 16px;
  height: 16px;
  left: 0;
  bottom: 0;
  background: url(../img/icons/buttons/blueCubes1.svg) no-repeat;
}

.btn-blue::after {
  width: 48px;
  height: 32px;
  right: 0;
  top: 0;
  background: url(../img/icons/buttons/blueCubes2.svg) no-repeat;
}

.btn-violet {
  background-color: #7c7093;
}

.btn-violet::before,
.btn-violet::after {
  content: '';
  position: absolute;
  display: block;
}

.btn-violet::before {
  width: 16px;
  height: 16px;
  left: 0;
  bottom: 0;
  background: url(../img/icons/buttons/violetCubes1.svg) no-repeat;
}

.btn-violet::after {
  width: 48px;
  height: 32px;
  right: 0;
  top: 0;
  background: url(../img/icons/buttons/violetCubes2.svg) no-repeat;
}

.title-h1 {
  font-weight: 600;
  line-height: 54px;
  font-size: 42px;
}

.title-h2 {
  font-weight: 600;
  font-size: 32px;
  line-height: 41px;
}

.title-h3 {
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
}

.title-h4 {
  font-weight: 700;
  font-size: 16px;
  line-height: 110%;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(11, 11, 11, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 6;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: 0.8s ease all 0s;
  -o-transition: 0.8s ease all 0s;
  transition: 0.8s ease all 0s;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup.open .popup__content {
  -webkit-transform: perspective(600px) translate(0, 0) rotateX(0deg);
          transform: perspective(600px) translate(0, 0) rotateX(0deg);
  opacity: 1;
}

.popup__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 10px;
}

.popup__content {
  color: #fff;
  padding: 60px 40px 64px;
  width: 100%;
  max-width: 950px;
  position: relative;
  opacity: 0;
  -webkit-transform: translate(0, -100%);
      -ms-transform: translate(0, -100%);
          transform: translate(0, -100%);
  -webkit-transition: 0.8s ease all 0s;
  -o-transition: 0.8s ease all 0s;
  transition: 0.8s ease all 0s;
}

.popup__close {
  position: absolute;
  top: 25px;
  right: 27px;
}

.popup--menu {
  z-index: 51;
  background: rgba(11, 11, 11, 0.3);
}

.popup--menu .popup__body {
  padding: 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.popup--menu .menu-popup {
  background-color: #fff;
  -webkit-transform: translate(-100%, 0);
      -ms-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  width: 100%;
  max-width: 250px;
  height: 100vh;
  padding: 15px 22px;
  position: relative;
}

.popup--menu .menu-popup::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 66px;
  height: 44px;
  background: url(../img/icons/menuCubes.svg) no-repeat;
}

.popup--menu .menu-popup__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -22px 25px;
  padding: 0 22px 14px;
  border-bottom: 1px solid #e7e7e7;
}

.popup--menu .menu-popup__logo {
  margin: 0;
  padding: 0;
}

.popup--menu .menu-popup__logo .logo__text-wrapper {
  display: block;
}

.popup--menu .menu-popup__logo .logo__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 19px;
          flex: 0 0 19px;
  margin-right: 5px;
}

.popup--menu .menu-popup__logo .logo__top {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1.8px;
}

.popup--menu .menu-popup__logo .logo__bottom {
  font-size: 10px;
  line-height: 13px;
  letter-spacing: 0.4px;
}

.popup--menu .close-popup {
  position: inherit;
}

.popup--menu.open .menu-popup {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.firstscreen {
  position: relative;
}

.firstscreen__call {
  position: absolute;
  right: 16px;
}

.call-up__item {
  list-style-type: none;
}

.call-up__link {
  display: block;
}

.call-up__submenu {
  display: none;
}

.no-webp .main {
  background: url(../img/main/firstscreen/bg.png) no-repeat center/cover; }

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0;
}

.main__container-fluid {
  position: relative;
  width: 100%;
}

.main__container {
  max-width: 1032px;
  margin: 0 auto;
}

.main__heading {
  margin-bottom: 101px;
}

.main__title {
  margin-bottom: 12px;
  max-width: 663px;
  color: #fff;
}

.main__subtitle {
  font-size: 28px;
  line-height: 36px;
  color: #7c7093;
  max-width: 455px;
}

.main__actions {
  color: #fff;
}

.main-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 529px;
}

.main-actions__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  margin-right: 62px;
}

.main-actions__item:last-child {
  margin-right: 0;
}

.main-actions__text {
  max-width: 215px;
  margin-bottom: 35px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media screen and (min-width: 767px) {
  .call-up__item {
    margin-bottom: 8px;
  }

  .call-up__link {
    width: 54px;
    height: 54px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #fff;
    border-radius: 50%;
  }

  .main {
    min-height: 624px;
  }
}

@media screen and (min-width: 851px) {
  .logo__img {
    margin-right: 10px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    padding: 0 30px;
  }

  .container-fluid {
    padding: 0 30px;
  }

  .header__container {
    padding: 0;
  }
}

@media screen and (max-width: 1280px) {
  .logo__top {
    font-size: calc(14px + 2 * ((100vw - 320px) / (1280 - 320)));
  }

  .btn {
    font-size: calc(16px + 2 * ((100vw - 320px) / (1280 - 320)));
    line-height: calc(20 / 18);
  }

  .title-h1 {
    font-size: calc(28px + 14 * ((100vw - 320px) / (1280 - 320)));
    line-height: calc(54 / 42);
  }

  .title-h2 {
    font-size: calc(24px + 8 * ((100vw - 320px) / (1280 - 320)));
    line-height: calc(41 / 32);
  }

  .title-h3 {
    font-size: calc(14px + 14 * ((100vw - 320px) / (1280 - 320)));
    line-height: calc(36 / 28);
  }

  .title-h4 {
    font-size: calc(14px + 2 * ((100vw - 320px) / (1280 - 320)));
  }

  .popup--menu .menu-popup__logo .logo__top {
    font-size: calc( 9px + 7 * ((100vw - 320px) / (1280 - 320)));
    line-height: calc(20 / 16);
  }

  .popup--menu .menu-popup__logo .logo__bottom {
    font-size: calc( 6px + 4 * ((100vw - 320px) / (1280 - 320)));
    line-height: calc(13 / 10);
  }

  .main__subtitle {
    font-size: calc(18px + 10 * ((100vw - 320px) / (1280 - 320)));
    line-height: calc(36 / 28);
  }
}

@media screen and (max-width: 1200px) {
  .logo {
    margin-right: 30px;
  }
}

@media screen and (max-width: 991px) {
  .header__login {
    margin-left: 10px;
    width: 70px;
  }

  .logo {
    padding-left: 20px;
    margin-right: 15px;
  }

  .logo__top {
    letter-spacing: 0px;
  }

  .main-menu__item {
    margin-right: 10px;
  }

  .languages__item {
    margin-right: 7px;
  }
}

@media screen and (max-width: 850px) {
  .logo {
    margin-right: 20px;
  }

  .logo__text-wrapper {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .site__main {
    padding: 50px 0px 0px 0px;
  }

  .header {
    -webkit-box-shadow: 3px 14px 34px rgba(0, 0, 0, 0.07);
            box-shadow: 3px 14px 34px rgba(0, 0, 0, 0.07);
  }

  .header__body {
    height: 50px;
  }

  .header__burger-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
    width: 60px;
    border-right: 1px solid #e7e7e7;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 15px;
    height: 12px;
    -webkit-transition: 0.3s ease all 0s;
    -o-transition: 0.3s ease all 0s;
    transition: 0.3s ease all 0s;
    padding: 7px 10px;
  }

  .header__burger::before,
  .header__burger::after,
  .header__burger span {
    content: "";
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: 0.3s ease all 0s;
    -o-transition: 0.3s ease all 0s;
    transition: 0.3s ease all 0s;
  }

  .header__burger::before {
    top: 0;
  }

  .header__burger::after {
    bottom: 0;
  }

  .header__burger span {
    top: 6px;
  }

  .header__burger.active::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 6px;
  }

  .header__burger.active::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 6px;
  }

  .header__burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .header__menu {
    display: none;
  }

  .header__list {
    display: block;
  }

  .header__login {
    width: 60px;
    margin-left: 24px;
  }

  .actions-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: inherit;
        -ms-flex: inherit;
            flex: inherit;
    margin: 0;
  }

  .actions-menu__item {
    margin-bottom: 24px;
  }

  .main-menu {
    margin: 17px 0 40px;
  }

  .main-menu__item {
    margin: 0px 0px 24px 0px;
  }

  .popup__content {
    padding: 25px 10px 60px;
  }

  .popup__close {
    top: 15px;
    right: 7px;
  }

  .popup--menu .menu-popup .call-up {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 -16px;
  }

  .firstscreen__call {
    display: none;
  }

  .call-up__item {
    padding: 16px;
  }

  .main__heading {
    margin-bottom: 116px;
  }

  .main__title {
    margin-bottom: 16px;
  }

  .main-actions__item {
    max-width: 218px;
  }
}

@media screen and (max-width: 575px) {
  .main {
    padding: 43px 0 22px;
  }

  .main-actions__item {
    margin-right: 20px;
    max-width: 195px;
  }

  .main-actions__btn a {
    padding: 20px 15px;
  }
}

@media screen and (max-width: 450px) {
  .logo__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20px;
            flex: 0 0 20px;
  }

  .btn {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .popup__body {
    padding: 30px 0;
  }

  .popup--menu .menu-popup {
    max-width: 221px;
  }

  .main-actions {
    display: block;
  }

  .main-actions__item {
    max-width: 100%;
    margin: 0px 0px 17px 0px;
  }

  .main-actions__text {
    display: none;
  }
}

.webp .main { background: url(../img/main/firstscreen/bg.webp) no-repeat center/cover; }