.accordion {
    &__item {
        border-bottom: 1px solid $Lgrey;

        &:first-child {
            border-top: 1px solid $Lgrey;
        }
    }

    // .accordion__title
    &__title {
        font-weight: 600;
        font-size: 16px;
        line-height: 21px;
        padding: 26px 33px 26px 8px;
        position: relative;
        cursor: pointer;

        @media screen and (max-width: $layoutDesktop + 'px') {
            font-size: calc(14px + 2 * ((100vw - #{$layoutMobile}px) / (#{$layoutDesktop} - #{$layoutMobile})));
            line-height: calc(21 / 16);
        }
        @media screen and (max-width: 575px) {
            padding: 15px 33px 15px 8px;
        }

        &::before,
        &::after {
            content: "";
            width: 11px;
            height: 2px;
            background-color: $Grey2;
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            transition: 0.3s ease all 0s;
        }

        &::before {
            transform: translate(0, -50%) rotate(-45deg);
            right: 2px;
        }

        &::after {
            transform: translate(0, -50%) rotate(45deg);
            right: 9px;
        }

        &.active {
            &::before {
                transform: translate(0, -50%) rotate(45deg);
            }
            &::after {
                transform: translate(0, -50%) rotate(-45deg);
            }
        }
    }

    // .accordion__text
    &__text {
        padding: 0px 33px 26px 6px;
        display: none;
        font-size: 16px;
        line-height: 21px;

        @media screen and (max-width: $layoutDesktop + 'px') {
            font-size: calc(14px + 2 * ((100vw - #{$layoutMobile}px) / (#{$layoutDesktop} - #{$layoutMobile})));
            line-height: calc(21 / 16);
        }
        @media screen and (max-width: 575px) {
            padding: 0px 33px 15px 6px;
        }
    }
}
