.icon-star {
	display: inline-block;
	vertical-align: middle;
	width: 16px;
	height: 16px;
	background: url("../img/icons/star.svg") center no-repeat;
}

.call-chat {
	display: inline-block;
	vertical-align: middle;
	width: 18px;
	height: 18px;
	background: url("../img/icons/call-up/chat.svg") center no-repeat;
}

.call-close {
	display: inline-block;
	vertical-align: middle;
	width: 16px;
	height: 20px;
	background: url("../img/icons/call-up/close.svg") center no-repeat;
}

.call-phone {
	display: inline-block;
	vertical-align: middle;
	width: 18px;
	height: 18px;
	background: url("../img/icons/call-up/phone.svg") center no-repeat;
}

.call-telegram {
	display: inline-block;
	vertical-align: middle;
	width: 18px;
	height: 18px;
	background: url("../img/icons/call-up/telegram.svg") center no-repeat;
}

.call-viber {
	display: inline-block;
	vertical-align: middle;
	width: 16px;
	height: 16px;
	background: url("../img/icons/call-up/viber.svg") center no-repeat;
}

.call-whatsapp {
	display: inline-block;
	vertical-align: middle;
	width: 16px;
	height: 16px;
	background: url("../img/icons/call-up/whatsapp.svg") center no-repeat;
}

.icon-user-outlined {
	display: inline-block;
	vertical-align: middle;
	width: 24px;
	height: 24px;
	background: url("../img/icons/user-outlined.svg") center no-repeat;
}
