// !Popup
.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(11, 11, 11, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 6;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: 0.8s ease all 0s;

    &.open {
        opacity: 1;
        visibility: visible;

        .popup__content {
            transform: perspective(600px) translate(0, 0) rotateX(0deg);
            opacity: 1;
        }
    }

    &__body {
        min-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 10px;

        @media screen and (max-width: 450px) {
            padding: 30px 0;
        }
    }

    &__content {
        // background: $card-color;
        color: #fff;
        padding: 60px 40px 64px;
        width: 100%;
        max-width: 950px;
        position: relative;
        opacity: 0;
        transform: translate(0, -100%);
        transition: 0.8s ease all 0s;

        @media screen and (max-width: 767px) {
            padding: 25px 10px 60px;
        }
    }

    &__close {
        position: absolute;
        top: 25px;
        right: 27px;

        @media screen and (max-width: 767px) {
            top: 15px;
            right: 7px;
        }
    }

    &--menu {
        z-index: 51;
        background: rgba(11, 11, 11, 0.3);

        .popup__body {
            padding: 0;
            justify-content: flex-start;
        }

        .menu-popup {
            background-color: $White;
            transform: translate(-100%, 0);
            width: 100%;
            max-width: 250px;
            height: 100vh;
            padding: 15px 22px;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                display: block;
                width: 66px;
                height: 44px;
                background: url(../img/icons/menuCubes.svg) no-repeat;
            }

            @media screen and (max-width: 450px) {
                max-width: 221px;
            }

            &__heading {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 0 -22px 25px;
                padding: 0 22px 14px;
                border-bottom: 1px solid $Lgrey;
            }

            &__logo {
                margin: 0;
                padding: 0;

                .logo {
                    &__text-wrapper {
                        display: block;
                    }

                    &__img {
                        flex: 0 0 19px;
                        margin-right: 5px;
                    }

                    &__top {
                        font-size: 16px;
                        line-height: 20px;
                        letter-spacing: 1.8px;

                        @media screen and (max-width: $layoutDesktop + "px") {
                            font-size: calc(
                                9px + 7 * ((100vw - #{$layoutMobile}px) / (#{$layoutDesktop} - #{$layoutMobile}))
                            );
                            line-height: calc(20 / 16);
                        }
                    }
                    &__bottom {
                        font-size: 10px;
                        line-height: 13px;
                        letter-spacing: 0.4px;

                        @media screen and (max-width: $layoutDesktop + "px") {
                            font-size: calc(
                                6px + 4 * ((100vw - #{$layoutMobile}px) / (#{$layoutDesktop} - #{$layoutMobile}))
                            );
                            line-height: calc(13 / 10);
                        }
                    }
                }
            }

            .call-up {
                @media screen and (max-width: 767px) {
                    display: flex;
                    flex-wrap: wrap;
                    margin: 0 -16px;
                }
            }
        }

        .close-popup {
            position: inherit;
        }

        &.open {
            .menu-popup {
                transform: translate(0, 0);
            }
        }
    }

    &--request {
        z-index: 51;

        .popup__content {
            background-color: $White;
            color: $Black;
            max-width: 510px;
            padding: 61px 54px 64px;

            @media screen and (max-width: 450px) {
                padding: 25px 20px;
            }
        }
        .popup__close {
            top: 17px;
            right: 16px;
            z-index: 1;
        }

        .form {
            &__title {
                margin-bottom: 41px;

                @media screen and (max-width: 450px) {
                    margin-bottom: 20px;
                }
            }
        }
    }
}
