.select {
    position: relative;

    &__item {
        position: relative;
    }

    &__title {
        color: #000;
        background-color: $Lgrey;
        cursor: pointer;
        border-radius: 2px;
    }

    &__value {
        display: flex;
        align-items: center;
        font-size: 14px;
        line-height: 18px;
        height: 50px;
        padding: 0px 16px;
        position: relative;

        &::before,
        &::after {
            content: "";
            width: 8px;
            height: 2px;
            background-color: #202941;
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            transition: 0.3s ease all 0s;
        }

        &::before {
            transform: translate(0, -50%) rotate(-45deg);
            right: 21px;
        }

        &::after {
            transform: translate(0, -50%) rotate(45deg);
            right: 26px;
        }

        span {
            height: 1em;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
        }
    }

    &__options {
        color: #000;
        display: none;
        position: absolute;
        top: 49px;
        border-radius: 0 0 2px 2px;
        min-width: 100%;
        left: 0;
        background-color: $Lgrey;
        font-size: 14px;
        padding: 0px 0px 5px 0px;
    }

    &__option {
        cursor: pointer;
        padding: 10px 16px;
        margin: 0px 0px 0px 0px;
    }

    &._active {
        z-index: 5;

        .select__value {
            &::before {
                transform: translate(0, -50%) rotate(45deg);
            }
            &::after {
                transform: translate(0, -50%) rotate(-45deg);
            }
        }

        .select__options {
            display: block;
        }
    }
}
