.pagination {
	max-width: 212px;
	margin: 20px auto 0;

	// .pagination__list
	&__list {
		display: flex;
		margin: 0 -20px;
	}

	// .pagination__item
	&__item {
		padding: 0 18px;
	}

	// .pagination__link
	&__link {
		display: block;
		font-weight: 500;
		font-size: 14px;
		line-height: 18px;
		color: $Black;
		padding: 4px 2px;
		position: relative;

		&::before {
			content: "";
			display: block;
			width: 100%;
			height: 2px;
			background-color: $Black;
			position: absolute;
			left: 50%;
			bottom: 0;
			transform: translate(-50%, 0) scale(0);
			transition: 0.3s ease all 0s;
		}
		
		@media screen and (min-width: 992px) {
			&:hover {
				&::before {
					transform: translate(-50%, 0) scale(1);
				}
			}
		}

		&.current {
			&::before {
				transform: translate(-50%, 0) scale(1);
			}
		}
	}
}