.languages {
	display: flex;
	margin-left: auto;
	padding-left: 20px;

	// .languages__item
	&__item {
		margin-right: 12px;
		&:last-child {
			margin-right: 0;
		}

		@media screen and (max-width: 991px) {
			margin-right: 7px;
		}
	}

	// .languages__link
	&__link {
		font-weight: 500;
		font-size: 10px;
		line-height: 16px;
		letter-spacing: 0.7px;
		color: $Black;
		padding: 6px 4.5px;
		position: relative;
		display: block;

		&::before {
			content: "";
			display: block;
			width: 100%;
			height: 2px;
			background-color: $Black;
			position: absolute;
			left: 50%;
			bottom: 0;
			transform: translate(-50%, 0) scale(0);
			transition: 0.3s ease all 0s;
		}
	}

	// .languages__link--active
	&__link--active {
		&::before {
			opacity: 1;
			transform: translate(-50%, 0) scale(1);
		}
	}
}