// === Sizes ===
$size-container: 1180px;
$layoutDesktop: 1280;
$layoutMobile: 320;
$size-header-height: 70px;
$size-header-height-mobile: 50px;

// === Font ===
$font: "Futura PT";
$fontWeight: 400;
$fontSize: 16px;
$lineHeight: 120%;
$fontColor: #000;

// === Color ===
$Black: #000;
$Orange_Grad: linear-gradient(296.96deg, #e76339 28.54%, #f5774f 70.69%);
$Blue: #4795e6;
$Blue2: #63b5b6;
$Blue2Hover: #93c7c8;
$White: #fff;
$Lgrey: #e7e7e7;
$Grey: #717171;
$Grey2: #c4c4c4;
$Grey3: #e7e7e7;
$Violet: #7c7093;
$VioletHover: #988dac;
$Violet2: #b8abd0;
$Cyan: #b2dbdc;
$Red: #eb5757;
