.firstscreen {
	position: relative;
	display: flex;
	align-items: center;
	padding: 50px 0;

	@media screen and (min-width: 767px) {
		min-height: 624px;
	}

	// .firstscreen__row
	&__row {
	}

	// .firstscreen__content
	&__content {
	}

	// .firstscreen__call
	&__call {
		position: absolute;
		top: -56px;
		right: 25px;

		@media screen and (max-width: 767px) {
			display: none;
		}
	}

	&--advertiser {
		background: $Blue2 url(../img/firstscreen/advertiser-bg.png) no-repeat right/cover;

		&::before {
			content: '';
			display: block;
			width: 307px;
			height: 193px;
			background: url(../img/firstscreen/advertiser-coub.svg) no-repeat center/cover;
			position: absolute;
			bottom: 0;
			right: 0;

			@media screen and (max-width: 991px) {
				width: 200px;
				height: 150px;
			}
			@media screen and (max-width: 767px) {
				width: 150px;
				height: 100px;
			}
		}
	}

	&--webmaster {
		background: $Violet url(../img/firstscreen/webmaster-bg.png) no-repeat right/cover;

		&::before {
			content: '';
			display: block;
			width: 307px;
			height: 193px;
			background: url(../img/firstscreen/advertiser-coub.svg) no-repeat center/cover;
			position: absolute;
			bottom: 0;
			right: 0;

			@media screen and (max-width: 991px) {
				width: 200px;
				height: 150px;
			}
			@media screen and (max-width: 767px) {
				width: 150px;
				height: 100px;
			}
		}
	}

	&--small {
		@media screen and (min-width: 767px) {
			min-height: 370px;
		}

		.main__heading {
			margin: 0;
		}

		.firstscreen__call {
			top: -116px;
		}
	}

	&--faq {
		background: $Violet url(../img/firstscreen/faq-bg.png) no-repeat right/cover;
	}

	&--news {
		background: $Blue2 url(../img/firstscreen/news-bg.png) no-repeat right/cover;
	}
}