.main {
	background: url(../img/firstscreen/main-bg.png) no-repeat center/cover;

	@media screen and (max-width: 575px) {
		padding: 43px 0 22px;
	}

	&__container-fluid {
		width: 100%;
		position: relative;
	}

	// .main__container
	&__container {
		max-width: 1012px;
		margin: 0 auto;
		padding: 0 20px;
	}

	&__heading {
		margin-bottom: 101px;

		@media screen and (max-width: 767px) {
			margin-bottom: 116px;
		}
	}

	// .main__title
	&__title {
		margin-bottom: 12px;
		max-width: 663px;
		color: $White;

		@media screen and (max-width: 767px) {
			margin-bottom: 16px;
		}
	}

	// .main__subtitle
	&__subtitle {
		font-size: 28px;
		line-height: 36px;
		color: $Violet;
		max-width: 455px;

		@media screen and (max-width: $layoutDesktop + 'px') {
			font-size: calc(18px + 10 * ((100vw - #{$layoutMobile}px) / (#{$layoutDesktop} - #{$layoutMobile})));
			line-height: calc(36 / 28);
		}
	}

	// .main__actions
	&__actions {
		color: $White;
	}
}