.steps {
	padding: 44px 0 87px;

	@media screen and (max-width: 991px) {
		padding: 30px 0 50px;
	}
	@media screen and (max-width: 767px) {
		padding: 18px 0 50px;
	}

	// .steps__container
	&__container {
		@media screen and (min-width: 992px) {
			padding: 0;
			max-width: 1280px;
		}
	}

	// .steps__title
	&__title {
		text-align: center;
		max-width: 385px;
		margin: 0 auto;
		margin-bottom: 74px;

		@media screen and (max-width: 991px) {
			margin-bottom: 40px;
		}
		@media screen and (max-width: 767px) {
			margin-bottom: 30px;
		}
		@media screen and (max-width: 575px) {
			margin-bottom: 20px;
		}
	}

	// .steps__row
	&__row {
		justify-content: space-between;

		@media screen and (max-width: 575px) {
			flex-direction: column;
		}
	}

	// .steps__step
	&__step {
		flex: 0 0 33.333%;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 15px;

		@media screen and (max-width: 575px) {
			flex-direction: row;
			padding: 22px 15px;
		}
		@media screen and (max-width: 450px) {
			padding: 22px 0;
		}
	}

	// .steps__icon
	&__icon {
		margin-bottom: 26px;

		@media screen and (max-width: 991px) {
			margin-bottom: 20px;
		}

		@media screen and (max-width: 575px) {
			margin: 0px 31px 0px 0px;
		}
	}

	// .steps__text
	&__text {
		@media screen and (min-width: 576px) {
			max-width: 280px;
			text-align: center;
		}
	}
}